
backup/api\.p8

backup/celeste\.p8\.png

backup/firstjump\.p8

backup/fromthegroundup\.p8

backup/hello\.p8

backup/

bbs/1/15133\.p8\.png

bbs/1/15137\.p8\.png

bbs/2/28747\.p8\.png

bbs/4/49709\.p8\.png

bbs/5/50023\.p8\.png

bbs/new\.pip\.png

bbs/temp_new\.pip\.png

bbs/temp_top__\.pip\.png

bbs/temp_top\.pip\.png

bbs/top\.pip\.png

carts/\.idea/carts\.iml

carts/\.idea/modules\.xml

carts/\.idea/vcs\.xml

carts/\.idea/workspace\.xml

log\.txt

cdata/net_alienbug_hydra\.p8d\.txt

config\.txt

favourites\.txt

sdl_controllers\.txt
